# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
env/

# =========================
# YOLO / ML (VERY IMPORTANT)
# =========================
weapon_dataset/runs/

# Large model files
*.pt

# Dataset images (avoid huge repo)
weapon_dataset/train/images/
weapon_dataset/valid/images/
weapon_dataset/test/images/

# =========================
# IDE / Editor
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & Cache
# =========================
*.log
*.cache